<div class="footer">
  <div class="footer-return">
    <a href="#"><i class="fas fa-home"></i></a>
    <a href="#"><i class="fas fa-undo"></i></a>
  </div>
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
