<div class="title-dashboard">
  <h1>Dashboard</h1>
</div>

<div class="container">
  <div class="row">

    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <div class="card-category">Attribution</div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <div class="card-category">Fiche patient</div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <div class="card-category">Alertes</div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <div class="card-category">Bracelet</div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <div class="card-category">Bridges</div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <div class="card-category">Créer un compte</div>
      </div>
    </div>

  </div>
</div>
