.card {
  height: 10em;
  width: 10em;
  background-position: center;
  color: black;
  position: relative;
  background-color: #E0E0E0;
  border: 2px black solid;
  margin-top: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  background-size: 80px 80px;
  background-repeat: no-repeat;
}

.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
}

.container {
  margin-left: auto;
  margin-right: auto;
}
