.container {
  margin-top: 100px;
}

.bridge-edit {
  color: #333333;
}

.bridge-edit:hover {
  text-decoration: none;
  color: grey;
  transition: color 0.2s ease;
}

.edit-data {
  text-align: center;
}

#bridge-edit {
  background-color: #f4a261;
}
